.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1%;
}
.container>div{
    margin: auto;
    margin-top: 6%;
    width: 80%;
    /* margin: 2%; */
    gap: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4%;
}

#imgElement{
    height: 100%;
    width: 100%;
}